<div class="p-4">
    <div class="container">
        <h3>Bienvenido al módulo de votación</h3>
        <h5>Eliga el tipo de votación que requiera</h5>
     <div class="row gx-5">
        <div class="col-sm-3">
         <div class="card" style="width: 18rem;">
              <img src="./assets/imagen/add_circle_create_expand_new_plus_icon_123218.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Agregar nueva votación</h5>
                  <p class="card-text">Formato para configurar una votación con características personalizadas</p>   
                  <a href="#" class="btn btn-primary">Acceder</a>
              </div>
         </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
               <img src="./assets/imagen/49211.png" class="card-img-top" alt="...">
               <div class="card-body">
                   <h5 class="card-title">Votación de jefe de grupo</h5>
                   <p class="card-text">Formato para elegir un jefe de grupo, postulando diferentes candidatos</p>   
                   <a routerLink="indexJefeGrupo" class="btn btn-primary">Acceder</a>
               </div>
          </div>
         </div>
      
     <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="./assets/imagen/2718294.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Votación por partido político</h5>
              <p class="card-text">Formato para elección de partido político, con su respectiva planilla</p>
              <a href="#" class="btn btn-primary">Acceder</a>
            </div>
          </div>
     </div>
    </div>  
        <a class="btn btn-primary" routerLink="/users">Lista de usuarios</a>
    </div>
</div>