<div class="p-4">
    <div class="container">

        <h1>   BIENVENIDO  A LAS VOTACIONES </h1>
        
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaau3BzNrVH_cbFVre_7vX0S-MQ5bZ89z7HQ&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VOTACIONES </h5>
              <p class="card-text"></p>   
              <a href="#" class="btn btn-primary">ENTRAR</a>
            </div>
          </div>

           <br>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <br>

        <p><a routerLink="/users">lista de usuario</a></p>
    </div>
</div>